# Local includes
/.kite
/includes

# Build Artifacts
*.log
*.kit
*.o
*.a
*.dll
*.so
/docs/*.html
/docs/*/*.html
teapot.txt
/src/marsbin/config.status
/src/marsbin/pkgIndex.tcl

# SublimeText artifacts
*.sublime-*
