# Local includes
/.kite
/includes

# Build Artifacts
*.log
*.kit
*.o
*.a
*.dll
*.so
*.dylib
/docs/*.html
/docs/*/*.html
*.docx
*.xlsx
*.pptx
teapot.txt
/src/Marsbin/pkgIndex.tcl
/src/Marsbin/config.status
/src/Marsbin/Makefile
/src/Marsbin/configure
/src/Marsbin/configure.in
autom4te.cache
/lib/Marsbin*
*.bak
/*.zip
*~


# SublimeText artifacts
*.sublime-*
