# Local includes
/.kite
/includes

# Build Artifacts
*.log
*.kit
*.o
*.a
*.dll
*.so
/docs/*.html
/docs/*/*.html
teapot.txt
/src/marsbin/pkgIndex.tcl
autom4te.cache
/lib/marsbin*
*.bak

# SublimeText artifacts
*.sublime-*
